################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net8.0
/Cool.Interpreter/bin/Debug/net8.0
/Cool.Interpreter/obj
/UnitTests/bin/Debug/net8.0
/UnitTests/obj
.idea/
